# Check if system is up
define service {
    use                     generic-service
    host_name               student-app-host
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}

# Check HTTP (your Flask app)
define service {
    use                     generic-service
    host_name               student-app-host
    service_description     HTTP Student App
    check_command           check_http!-p 5000
}

# CPU Load
define service {
    use                     generic-service
    host_name               student-app-host
    service_description     CPU Load
    check_command           check_load!5.0,4.0,3.0!10.0,6.0,4.0
}

# Disk Usage
define service {
    use                     generic-service
    host_name               student-app-host
    service_description     Disk Usage
    check_command           check_disk!20%!10%!/
}